[2016-08-17 20:09] fccoelho opened #1 "setup.py not compiling the C extension"
The C extension compiles correctly when you run the build script by itself, but not when you call `python setup install`

It must be something missing in the parameterization of the `setup.py`

[2016-08-18 20:05] #1 closed

[2016-08-24 10:15] fccoelho opened #2 "Direct Download of SUS databases"
Implement direct download of databases publicly accessible through the web. We should start with SINASC to complement the DBC decompressing functionality

[2016-08-24 10:27] fccoelho commented on #2
The Starting Link is this http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1&acao=28
We need to automated the dowanload of it all.

[2016-08-25 13:29] fccoelho opened #3 "Add Access to CNES databse"
An automated way to download the CNES database is very desirable

[2017-06-19 02:59] rafaelsoaresmelero commented on #2
Hi Flávio,
Verify if files that you need are in the address bellow.
[ftp://ftp.datasus.gov.br/dissemin/publicos/](url).
I downloaded CNES files through this address.

[2017-06-19 11:18] fccoelho commented on #2
Thanks @rafaelsoaresmelero ! if you want to make a Pull-request with this functionality I'll be glad to accept.

[2017-06-19 11:20] fccoelho opened #5 "Generate a pre-compiled Wheel release on PyPI"
This will help people which need to use PySUS on Windows, and don't want to go through the nightmare of having to install a C compiler.

[2017-11-08 16:36] fccoelho opened #6 "feature teste"
- [x] tarefa 1
- [ ] tarefa 2

[2017-11-08 16:37] fccoelho commented on #6
resolve tarefa 1

[2018-06-05 10:18] reichaves opened #7 "Installation Error"
Olá

Tudo bem?
Parabéns pela iniciativa!
Por favor, em uma máquina com Ubuntu e Python 3.6 eu tentei instalar, mas tive esses erros abaixo
Eu preciso instalar outras bibliotecas ou outra ação?

Obrigado
Reinaldo

Hello

Congratulations for the initiative!
Please, on a machine with Ubuntu and Python 3.6 I tried to install, but I had these errors below
Do I need to install other libraries or other a

[2018-06-05 11:27] fccoelho commented on #7
Oi Reinaldo,

você precisa instalar a libffi antes de instalar o Pysus:

[code]
esta é uma dependencia do da biblioteca cffi do python.
vou adicionar esta informação ao README do  projeto

[2018-06-05 14:27] reichaves commented on #7
Muito obrigado
Mas os arquivos DBF do SINASC e SINAN ainda não estão disponíveis, certo?

Tentei também ler a API (https://info.dengue.mat.br/services/api) mas a conexão é recusada: URLError: <urlopen error [Errno 111] Connection refused>

url = 'http://localhost:8000/api/alertcity'
# 3306305 = Volta Redonda city geocode
search_filter = (
    'geocode=3306305&disease=dengue&format=json&' +
    'ew

[2018-06-05 16:31] fccoelho commented on #7
O PySUS não se propõe a disponibilizar os DBFs, apenas a ajudar a analisar os DBF do SUS que o usuário tenha.

sobre a API, você está com a `url` errada, tente essa:
`https://info.dengue.mat.br/api/alertcity/`

[2018-06-05 16:31] #7 closed

[2018-08-19 06:04] marceloandriolli opened #8 "Import error on Mac OS X 10.13.6"
That error below occurs when a `from pysus.utilities.readdbc import read_dbc` using python 3 version:

[code]

[2018-08-20 16:32] marceloandriolli commented on #8
Thank you @fccoelho to reply me so quickly. I did what you suggested but it didn't work.
I try to install that dependency by brew command:
`brew install libffi`
But the output of that command suggests me to reinstall the `libffi`. So i did that but got that message that a don't understand:

[code]

[2018-09-21 16:40] fccoelho commented on #2
SINASC and SIH already supported from the FTP server

closing for now

[2018-09-21 16:40] #2 closed

[2018-09-21 16:41] #6 closed

[2018-09-21 16:45] fccoelho commented on #3
Can be fetched from the FTP server on /dissemin/publicos/CNES/200508_/Auxiliar

[2018-10-03 18:31] #8 closed

[2018-10-10 18:25] fccoelho opened #9 "Add support to MTBR tables of SIH"
Inspect MTBR tables to see if they should be made available through PySUS. If so, add it to the APIand provide usage examples in the documentation.

[2019-02-20 02:14] LucasMMota opened #10 "Pysus not finding _readdbc"
I'm getting this error when trying to use function `read_dbc()`:
[code]
I've already installed `cffi`.
I also have the files `_readdbc.c`, `_readdbc.cpython-37m-darwin.so` and `_readdbc.o` on the `pysus/utilities/`.

What could it be?

[2019-02-23 18:25] fccoelho commented on #10
hi @LucasMMota ,
how did you install  PySUS?
When it cannot load it can be a failure to compile the `_readdbc` extension. Do you have libffi installed?
Please check the installation of cffi [here](https://cffi.readthedocs.io/en/latest/installation.html), then completely uninsttall and reinstall PySUS, making sure there is no compilation error.

[2019-02-23 19:37] higoramp commented on #10
Same error here. Already installed libffi-dev package.

[2019-02-23 21:54] fccoelho commented on #10
Post the entire error here. It builds normally on Linux

Em sáb, 23 de fev de 2019 16:37, higoramp <notifications@github.com>
escreveu:

[2019-04-11 01:21] gfelitti opened #11 "Ways to avoid memory crash?"
This is more of a doubt than an issue. When I try to load a +60 MB DBC file using PySUS, the 16 GB RAM are not enough and my desktop crashes. Considering I'm used to work smoothly with  +3 million lines DataFrames in it, is there something I could do to avoid the crash with PySUS? I considered using multiprocessing, Is this feasible? Thank you

[2019-04-11 11:22] fccoelho commented on #11
Could you paste here the exact lines you are running so that I can try to reproduce the problem?

I routinely open large DBC, for example a full year of SIASUS for the state of MG in which each month is 60 to 70MB in size without problems.

if you have already downloaded this file once, it should be cached in the pysus directory as a parquet file.

You can then try to load it directly from the the

[2019-04-11 19:18] gfelitti commented on #11
Sure. It's the most simple code:

`from pysus.utilities.readdbc import read_dbc
df = read_dbc("BIMG1702.dbc", encoding='iso-8859-1')`

I tried to find the parquet, but the systems crashes before is capable of creating it.

I'm on a Ubuntu machine. I will try on a Windows one.

[2019-04-11 20:55] fccoelho commented on #11
Which version of `Python`, `Pandas` and `readdbf` do you have installed?

I have applied a memory profileron the following code:
[code]
This `dbc` is 12MB and the corresponding `dbf` is 57MB so the memory used is roughly twice the size.

As a workaround try to use dbc2dbf:
[code]
This will convert the file directly to dbf without creating a pandas dataframe.

[2019-04-11 21:07] fccoelho commented on #11
By the way, the `read_dbc` does not create a parquet file, only the download functions from the modules SIS, SIH, SIM, etc

[2019-04-11 23:16] gfelitti commented on #11
PySUS==0.3.7
Pandas = 0.24.1
Python 3.7.2

Based in your suggestion, I was able to transform the DBC to a DBF and used the simpledbf module to convert it to CSV. Finally, it loaded on Pandas. It puts some extra steps on the process, but I'm ok with it.

That's why I didn't find the parquest - I'm downloading all the files using a script I wrote.

Thanks for your help.

[2019-04-12 12:13] fccoelho commented on #11
Good. Since I could not reproduce the problem I am closing this issue for now.

[2019-04-12 12:13] #11 closed

[2019-04-12 12:26] #10 closed

[2019-04-25 01:44] ArsCarlos commented on #10
same here, try in ubunto 19.04 and docker with `pythonpython:3.5.7-stretch`

[code]

[2019-05-15 20:02] CalixtoNeto opened #13 "Erro de instalação no Windows 10"
Failed building wheel for PySUS
  Running setup.py clean for PySUS
Failed to build PySUS
Installing collected packages: PySUS
  Running setup.py install for PySUS ... error
    Complete output from command C:\ProgramData\Anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\CALIXTO\\AppData\\Local\\Temp\\pip-install-65y7p2b6\\PySUS\\setup.py';f=getattr(tokenize, 'open', open

[2019-05-17 11:40] fccoelho commented on #13
@CalixtoNeto , infelizmente não temos como testar ou mesmo criar um pacote compilado para Windows.
o desenvolvimento do PySUS é feito em Linux.

O problema que aparece é a falha na compilação da extensão em C que é necessária para lidar com arquivos DBC.

[2019-05-19 00:09] CalixtoNeto commented on #13
obrigado pelo esclarecimento

[2019-05-19 00:09] #13 closed

[2019-06-14 21:32] edinhodiluviano commented on #10
I just got the same error and, maybe, this is a hint to the problem.
I'm using Ubuntu 18.04 LTS. When I install pysus in a virtualenv with python3.6, it works correctly. However, in a env with python3.5 or pyhon3.7, it breaks (and it doesn't show compilation errors).
On both (3.5 and 3.7) I'm able to fix it by going to `pysus/utilities`, downloading the `c-src` folder (with its contents, of course

[2019-06-17 18:09] fccoelho commented on #10
The error simply means that the C extension is not building under certain circumstances.
If it is failing on Linux, please check if you have have the latest version of CFFI `pip3 install -U cffi` installed. It should build normally on Python 3.5 and 3.7

[2019-06-18 11:22] fccoelho commented on #10
A good way to test is to clone this repo and run
[code]

[2019-06-19 02:46] edinhodiluviano commented on #10
"The error simply means that the C extension is not building under certain circumstances.
If it is failing on Linux, please check if you have have the latest version of CFFI pip3 install -U cffi installed. It should build normally on Python 3.5 and 3.7"

The OS is fine, all dependencies are met. I'm using the same OS for all python versions (just the environment changes)
Also, if it wasn't, then i

[2019-06-19 20:00] fccoelho commented on #10
`build_readdbc.py` should be called from setup.py according to [CFFI documentation](https://cffi.readthedocs.io/en/latest/cdef.html#)

I think this failure to build is due to some some issue with the way setuptools builds cffi extensions. I looked around for easy workarounds but could not find.

I think for now the workaround will have to be this:
After cloning the source code:
[code]
I'll keep lo

[2019-08-08 20:20] ricardofsantos opened #14 "Doubt about downloading SIA files"
The result of downloading SIA files cannot be read as dataframes. Instead, they come as a tuple. Why does this happen?

Regards,

Ricardo.

[2019-08-09 12:44] fccoelho commented on #14
SiA download returns two dataframes: PA and BI
just do this:
[code]

[2019-08-09 12:44] #14 closed

[2019-08-09 13:33] fccoelho opened #15 "Add Support to Other tables of SIA"
SIA contains other available tables which can be made available through PySUS.
I propose to add a new parameter to the download function of the SIA module, allowing the user to specify which table to download.

[2019-11-25 11:10] marceloandriolli opened #16 "No module named 'pysus.utilities._readdbc'"
I'm using ubuntu 18.04 and I have already installed `libffi-dev`, but when I try to do `import from pysus.utilities.readdbc import read_dbc` I got this error:

[code]

[2019-11-25 21:21] marceloandriolli commented on #10
@fccoelho I did exactly what you suggested before, but I still got the same error that @ArsCarlos reported.

[2019-11-26 13:05] fccoelho commented on #10
This maybe due to the fact that  virtualenvs are created by default with an old version of `pip` which is [not compatible](https://stackoverflow.com/questions/50205819/cffi-fails-in-python-linux-virtual-environment-attempting-to-install-crypto) with `cffi`. I tested here, and the venv is created with pip 9.0 and the current version is 19.0.

after you activate your virtualenv,  issue this command:

[2019-12-16 01:26] marcelo-ventura commented on #16
Same sort of problem here using macOs Catalina, upvoted.

`utilities/_readdbc.abi3.so, 2): no suitable image found.`

[2020-02-10 15:01] fccoelho commented on #16
To help everybody having issues compiling PySUS C-extension, I have created a [dockerfile](https://github.com/AlertaDengue/PySUS/blob/master/dockerfile).

Basic instructions on how to use it are in the project's [README](https://github.com/AlertaDengue/PySUS/blob/master/README.md).

If you don't know what docker containers  are please refer to their [website](https://www.docker.com/). All you have

[2020-02-21 00:38] mohr023 opened #17 "Support for chunksize"
Considering some of SIA files like PA##.dbc, loading them into a dataframe directly basically burns 20gb RAM.

Should we add support for pandas Dataframe's chunksize parameter, to handle this correctly? If so, can you identify some sort of caveat about this approach @fccoelho ?

[2020-02-21 02:28] mohr023 commented on #17
One alternative I see for implementing this is by returning a generator of DataFrames, such as this:

`(pd.DataFrame([next(iter(testdbf.records)) for j in range(i,i+chunksize)]) for i in range(0,len(testdbf), chunksize))`

For this test, I'm using `DBF` object from `dbfread`.

[2020-04-13 16:50] rdenadai commented on #16
Don't know cffi enough to tell the whole story, but, looking at my "**site-packages/pysus/utilities**" dir, i saw the _readdbc.so with the name "**_readdbc.cpython-37m-x86_64-linux-gnu.so**".

So, i rename the file to **_readdbc.so** and now it works like a charm.

[2020-04-23 23:42] rdenadai commented on #16
@fccoelho uma coisa que percebi, e esse erro parece estar relacionado é que aparentemente a compilação do _readdbc esta sendo feita para python 3.7 (conforme nome do arquivo **cpython-37m**), entretanto estou usando na minha máquina python 3.8.2.

No meu ambiente uso o **pyenv** para registrar a versão do python usada. Compilei manualmente o código do readdbc usando o python 3.8.2 e substiui no ar

[2020-04-24 21:03] fccoelho commented on #16
O arquivo `cpython -37m...` deve ter sido gerado em uma compilação do PySUS antes da sua atualização do Python para 3.8

[2020-04-30 15:00] rdenadai commented on #16
@fccoelho então, na verdade minha versão do python sempre foi a 3.8... no meu caso, deve ser algum resquicio da versão 3.7 (tb instalada va pyenv) que ficou.

[2020-06-22 14:37] fccoelho commented on #16
As mudanças incluídas no commit 40f8b5dc parecem haver consertado este bug. Fechando esta issue.

[2020-06-22 14:37] #16 closed

[2020-06-25 02:04] gabrielmcf opened #19 "Função para tradução de valores das variáveis"
Pensei de criar uma função de pre processamento para traduzir os valores das variáveis nas descrições das bases. Poderia ser num esquema como da [FIOCRUZ](https://bigdata.icict.fiocruz.br/sites/bigdata.icict.fiocruz.br/files//SIM-DicionarioVariaveis.pdf), criando variáveis novas com a descrição, ou substituindo mesmo os valores (pode ter uma flag para dar essa opção também), seguindo os dados da e

[2020-06-25 02:12] gabrielmcf opened #20 "Tratamento de dados faltantes do SIM"
Acredito que o melhor lugar para implementar isso seja no pré-processamento. A princípio farei para 3 variáveis apenas: município, idade e sexo. O plano é distribuir as mortes com dados faltantes na classe pela proporção observada das entradas com dados completos (sou novo na área de saúde, então posso ter falado bobagem, mas foi o que eu entendi...).

As faixas de idade para o cálculo são variáve

[2020-06-25 12:34] fccoelho commented on #20
Sim pode ser incluído no préprocessamento, porém, devem ser opcionais. é importante que o usuário possa escolher se deseja este preenchimento ou não. A razão disso é que ele queira prencher os dados faltantes usando sua própria metodologia, ou mesmo estudar o padrão de dados faltantes.

[2020-06-25 13:00] gabrielmcf commented on #20
Sim, pensei de fazer uma função separada para isso, se o usuário quiser gerar as tabelas de taxa de mortalidade por municipio/sexo/idade ele pode fazer já preenchendo os dados faltantes ou não.

[2020-07-01 23:18] gabrielmcf opened #22 "Tabelas do SIM tem geocode de tamanho variado"
Abri essa issue para discutir a melhor maneira de resolver essa questão. O código de municípios do IBGE possui 7 dígitos mas em várias tabelas do SIM (SP, 2010, por exemplo) ele é apresentado com apenas 6. Encontrei no site do datasus uma tabela contendo os códigos de municípios utilizados nas bases e creio que talvez o melhor caminho seja seguir essa tabela. A tabela em si pode ser encontrada em

[2020-07-02 01:05] gabrielmcf commented on #22
Vi agora que já tem uma função para baixar os municípios. Não seria melhor usar esse data frame para verificar os geocode?

[2020-07-08 17:34] rafael-ferro commented on #3
Hi.

Firstly, thanks for the PySUS package. It has been useful.

So, have you tried reading the tables from CNES/ST recently? For instance, STSP2005.dbc.When I try to read this file using the function `read_dbc` from `pysus.utilities.readdbc`, I get `error: unpack requires a buffer of 32 bytes`. Indeed, manually converting it to dbf format (using blast-dbf) and directly reading it with dbfread ret

[2020-07-08 17:42] fccoelho commented on #3
Oi @rafael-ferro
Eu não investi ainda na incorporação da CNES devido à complexidade das tabelas. É bom ter alguém que conheça melhor o modelo de dados do CNES para ir destrinchando. Em princípio não tenho uma solução, mas fiquei curioso em saber se este erro ocorre em qualquer DBC do CNES ou Apenas este? Pode ser corrupção neste  arquivo em particular.

[2020-07-08 21:20] rafael-ferro commented on #3
Olá @fccoelho

Aparentemente, está acontecendo nas últimas atualização da tabela ST, a partir de fevereiro deste ano, de todos os estados. Acho que os arquivos não estão corrompidos, porque o Tabwin consegue abrir, mas parece haver um erro no esquema dessa tabela. Vou pesquisar mais sobre; te aviso, se tiver algum progresso.

Obrigado!

[2020-07-10 12:21] fccoelho commented on #22
A maioria dos bancos do SUS usa apenas 6 digitos. A verificação do 7 digito é importante  pois muitas vezes temos que cruzar informações com outras bases que usam o padrão de 7 dígitos.  Temos também a possibilidade de [adicionar o 7 dígito](https://github.com/AlertaDengue/PySUS/blob/e51d04aa0ae85b619da649ac9b4ec24309c46427/pysus/preprocessing/decoders.py#L100) se necessário. Não vejo necessidade

[2020-07-10 13:56] gabrielmcf commented on #22
Sim, mas se temos uma tabela com código de 6 dígitos e calculamos o geocode pra depois verificar com a mesma conta nunca encontraremos um inválido. A maioria das tabelas usa 6 mas várias não usam. Fiz uma função de olhar na tabela e ficou extremamente rápido, usando as funções certas do pandas. Segue exemplo:

[code]

Esse código é extremamente performático e garante que se encontrem todos os códi

[2020-07-10 14:05] fccoelho commented on #22
@gabrielmcf você tem razão de que o cálculo do dígito não serve como validação, pois para qualquer numero de 6 digitos se pode sempre calcular um dígito. O principal uso do `is_valid_geocode` é na verificação de geocódigos de 7 digitos (potencialmente entrados manualmente em alguma base de dados).

Bola pra frente com a sua implementação!

[2020-10-18 15:17] gabrielmcf commented on #22
#25

[2020-10-18 15:17] #22 closed

[2020-10-18 15:18] gabrielmcf commented on #20
#25

[2020-10-18 15:18] #20 closed

[2020-10-18 15:19] gabrielmcf commented on #19
Fiz a tradução de poucas variáveis no PR #25, mas vou terminar isso ainda!

[2020-10-18 15:32] gabrielmcf opened #26 "Criar dataframes geográficos a partir dos dados tratados no SIM"
Na verdade já estou trabalhando em uma função que adiciona os dados de um dataframe a um GeoDataFrame do GeoPandas. O usuário escolhe a coluna com as o geocode, as colunas de título (para serem concatenadas e gerarem novas colunas em uma banco geográfico) e a coluna de valor (que preenche os valores dos features da nova tabela geográfica).

Essa abordagem tem uma limitação quando são usadas muitas

[2020-10-18 15:34] gabrielmcf commented on #26
Essa parte que descrevi já está funcionando, se quiser dar uma olhada está [nesse branch](https://github.com/gabrielmcf/PySUS/tree/geodata/pysus/Notebooks). Tem um notebook com exemplo.

[2020-10-28 23:58] alfonso777 opened #27 "Update download method of SIA data for PA"
Currently, DBC files of SIA data for PA have prefixes a,b and c. The following image show that:
![image](https://user-images.githubusercontent.com/531966/97509026-dfaa4e80-195f-11eb-875f-e32f6aa1b7dc.png)

So, the download method ```pysus.online_data.SIA.download( estado, ano, mes )``` is outdated.

[2020-10-29 15:38] fccoelho commented on #27
@alfonso777 how do you suggest he handle these variants? Currently I don't have the time to inspect these datafiles.

[2020-10-29 15:44] fccoelho commented on #17
This is a real problem @mohr023. If we iterate over the DBF record as we read, we would also need to iterate over them when saving the cachefile, and cannot return the full dataframe after downloading.

If you have a good Idea for solving this, feel free to submit a Pull-request.

[2020-11-16 13:38] gabrielmcf commented on #26
#28

[2020-11-16 13:38] #26 closed

[2020-12-15 10:27] fccoelho opened #29 "Add demographic data loading"
Add a function to automatically download demographic data from IBGE, age-structured census, and projections.

[2021-01-12 04:04] ivazora opened #30 "Problem reading the data: File is not available"
Tried to follow the example from here:  https://pysus.readthedocs.io/en/latest/SINAN.html
It looks like files are no longer available:

"""
Attempt to follow this example:
    https://pysus.readthedocs.io/en/latest/SINAN.html
"""
from pysus.online_data import SINAN
import pandas as pd

SINAN.list_diseases()
"""Out[2]:
['Animais Peçonhentos',
 'Botulismo',
 'Chagas',
 'Colera',
 'Coqueluche',
 'Den

[2021-01-12 11:30] fccoelho commented on #30
This is what I get here:
[code]

Did you install PySUS from PyPI? Which version are you running?
[code]
Since these are relatively new features, I think the latest version of PySUS on PyPI still did not include them. I have made a new release (0.4.9) to make sure these latest features are included. Please update your installation:
[code]

[2021-01-12 15:52] #30 closed

[2021-01-12 16:21] ivazora commented on #30
Works now - Thank you!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Jan 12, 2021 at 6:30 AM Flávio Codeço Coelho <
notifications@github.com> wrote:

[2021-01-24 20:28] r3ck commented on #3
Olá,

Estava fazendo um estudo com a base do CNES e cai nesse mesmo problema, parece que é na leitura do DBF.
Tentei fazer a leitura com o [simpledbf](https://pypi.org/project/simpledbf/), mas também não funcionou. O que funcionou para mim foi usar o [geopandas](https://pypi.org/project/geopandas/) conforme falaram nessa [resposta](https://stackoverflow.com/a/41488490).

[2021-01-24 20:31] r3ck commented on #3
Olá,

Tive esse mesmo problema, o que resolveu foi usar o geopandas para ler o DBF, usei [isso](https://stackoverflow.com/a/51679171) como base.

[2021-02-26 13:11] fccoelho opened #33 "Migrate from Travis-CI to Github Actions"
Travis-ci.org is shutting down, thus it may be better to move to GitHub actions

[2021-02-26 13:44] fccoelho opened #34 "refactor SIM module"
There some functions in the SIM modules which should actually be on a `miscelaneus.py` module because they can be useful to analyses not related to SIM. They are:

- `get_CID10_table`
- `get_CID9_table`
- `get_municipios`
- `get_ocupations`

[2021-02-26 13:45] fccoelho commented on #34
@gabrielmcf can you please do this one?

[2021-02-26 21:12] gabrielmcf commented on #34
I'm working on one of those large PR, including functions to redistribute chapters in CID10 table, I will include those modifications on it!

[2021-02-26 21:20] gabrielmcf commented on #29
This project may help you: https://github.com/renanbirck/pyibge

[2021-02-27 08:54] fccoelho commented on #34
Thanks!

[2021-02-27 09:02] fccoelho commented on #29
Yes, it is promising, as it wraps the SIDRA API. I have to take closer look at what is available through Sidra because it has the potential to be much more efficient to download than the geoftp.

[2021-02-27 09:11] fccoelho commented on #29
This other SIDRA client looks more promising https://github.com/AlanTaranti/sidrapy

[2021-02-27 21:18] fccoelho commented on #29
None of them were  well developed, so I added my own wrapper in  the [stats.py](https://github.com/AlertaDengue/PySUS/blob/master/pysus/demography/stats.py) module

[2021-03-14 12:53] fccoelho opened #35 "Build conda packages for Windows and OSX"

[2021-03-16 07:59] fccoelho opened #36 "Add support to PNI data"
PNI data is available from DataSUS.
We need a downloader, tests, and usage examples.

[2021-04-19 11:31] fccoelho opened #39 "Update docs with SIM Example"
The functionalities of PySUS to deal with SIM data are very good but  so far, are still not documented in our docs.
We should start by including a Notebook with examples just like it has been done for other databases

[2021-06-01 15:36] fccoelho commented on #36
Done.

[2021-06-01 15:36] #36 closed

[2021-06-06 16:58] bcbernardo opened #44 "Support setting a custom CACHEPATH through an environment variable"
Hello and thanks for the awesome lib!

As a small suggestion, I believe it could be somewhat useful to let the user set a location for caching downloaded DataSUS files other than the current default, `~/pysus`.

As real use case example, I usually run PySUS in a Google Colab environment, where I always lose downloaded files when the runtime is reset. If I could set a custom path for the cache, I c

[2021-06-07 13:31] fccoelho commented on #44
Hi @bcbernardo. Thanks for the PR. Your proposal is a good way to handle the customization of `CACHEPATH`. I'll review your PR.

[2021-09-17 07:15] fccoelho commented on #34
@gabrielmcf if you are done with this, please close the issue.

[2021-09-21 21:59] gustavoairestiago opened #49 "Erro na leitura de DBC"
Estou tentando converter dbc com a nova funcionalidade no pacote.
No entanto retorna esse erro para a leitura dos últimos meses do CNES

---------------------------------------------------------------------------
error                                     Traceback (most recent call last)
<ipython-input-247-e262595fa4cb> in <module>()
----> 1 df = read_dbc("/content/data/br_ms_cnes/input/STSP2108.d

[2021-09-21 21:59] gustavoairestiago commented on #49
@fccoelho

[2021-09-22 15:49] fccoelho commented on #34
Yes, we can plan a new release.

[2021-10-21 20:53] igorsm88 opened #54 "Erro no cnes download EQ"
Na hora de fazer o download do CNES Equipamentos o ano não faz parte da array de definição, portanto a função que verifica datas válidas da um problema de index fora de alcance.

Sugestão de correção: adicionar a data de 2005
<code>

        "EQ" :  ["Equipamentos - A partir de Ago/2005", 8],
</code>

[2021-10-23 07:20] fccoelho opened #56 "Fix broken dockerfile for installing PySUS"

[2021-10-23 08:06] #54 closed, assigned to fccoelho

[2021-11-04 21:29] gustavoairestiago commented on #49
Muito Obrigado @fccoelho . Trabalho maravilhoso o de você. Um ponto que eu iria comentar também é que na leitura do DBC do dataframe retorna alguns valores como INT, seria interessante retornar como STRING para preservar a integridade da base. Só uma sugestão mesmo !

[2021-11-05 02:41] igorsm88 opened #58 "Função readdbc com geopandas - gera arquivos dbf que não são apagados"
A função read_dbc_geopandas gera um arquivo de saida que se mantém até que o computador seja reiniciado.
Isso gera um problema para programas que fazem download de varios arquivos. Por exemplo 5 anos inteiros do CNES todos os arquivos dbfs são mantidos na pasta temporária.
Exemplo de código:
[code]
Função read_dbc_geopandas faz o unlink do arquivo mas ao mesmo tempo gera um .dbf pela variavel out

[2021-11-05 07:03] fccoelho commented on #58
@igorsm88 Você pode informar  qual SO, versão do Python e versão do PySUS você está usando?

[2021-11-05 08:25] fccoelho opened #59 "Refactor FTP operations to a single function"
Many of our modules replicate basic ftp file retrieval operations
We should remove all the duplication of code by creating a single function for retrieving files through FTP.
this function should most likely belong to an `ftptools` module in the utilities package.

[2021-11-05 17:32] igorsm88 commented on #58
Boa tarde @fccoelho,

SO:
Ubuntu 20.04.3 LTS
Python versão
Python 3.8.10
Versão do Pysus
Pysus 0.5.10

Você poderia me dizer qual seria a implicação do SO, versão do Python e do versão do PySUS nessa issue? Pois eu não consegui entender qual seria.

[2021-11-05 18:00] fccoelho commented on #58
@igorsm88

Para podermos tentar reproduzir o erro é importante considerar estes fatores.

Acho que o problema já foi resolvido na versão atual de desenvolvimento. Por favor, tente instalar a partir do Github, e veja se o problema persiste.

[code]
Note que por padrão, o PySUS mantém um cache dos arquivos já baixados na pasta `/home/<usuario>/pysus/`, no formato `parquet`.
Para inibir este comporta

[2021-11-05 18:35] igorsm88 commented on #58
Boa tarde @fccoelho,

Essa issue foi resolvida na versão atual de desenvolvimento após essa issue.

Eu entendo que o cache faz isso mas a relação desse issue era com relação aos dbfs gerado no temporário.

Com relação ao cache poderia abrir mais uma issue, pois uma vez que o cache é criado quando você tentar usar o dado mesmo que coloque cache=False ele vai ler o cache. Mas isso seria em outra iss

[2021-11-06 08:18] fccoelho commented on #58
Ok @igorsm88
Não observei a geração de nenhuma outra cópia dos DBFs
Caso o problema persista, peço que abra outra issue indicando o `path` onde está sendo criado este DBF adicional.

[2021-11-06 08:18] #58 closed

[2021-11-30 14:42] #33 closed

[2021-11-30 14:44] fccoelho opened #61 "Add support for downloading from Infodengue API"
It should be very easy to add support for downloading data from the Infodengue API.

The `Alerta` tables would be of particular interest to the community.

[2021-12-29 17:48] gustavo-mk opened #62 "Problema no download do SIH"
Atualmente a função download para o SIH só funciona para o ano de 2008.

[2022-01-04 18:45] bcbernardo commented on #62
Confirmo o bug, que faz o acesso ao FTP do DataSUS falhar com a mensagem `error_perm: 550 The system cannot find the path specified. `.

Salvo engano, a linha problemática é [esta aqui](https://github.com/AlertaDengue/PySUS/blob/600c61627b7998a1733b71ac163b3de71324cfbe/pysus/online_data/SIH.py#L36). Ela foi modificada em [um commit](https://github.com/AlertaDengue/PySUS/commit/d2bdd2e5beb978063878

[2022-01-04 19:16] bcbernardo commented on #15
I believe this is implemented already :smile:

[2022-01-05 16:35] heber-augusto opened #64 "Excessive memory consumption during SIA-PA download"
There are some SIA-PA files wich are huge and it seems that converting from dbc to parquet is consuming too much memory.
Although the following example is somehow related to [issue 27](https://github.com/AlertaDengue/PySUS/issues/27) (which occurs when a given month has a lot of data), to simulate the error, I collected the file manually through the sus ftp and called only the function that is fai

[2022-01-09 20:18] fccoelho commented on #62
I just added a few comments to that PR, @bcbernardo. I point to some alternatives to fix it. The SIH data inthe FTP is quite messy. But we can work around it. login with filezilla and inspec the folders to get the download commands correct for all years:
![image](https://user-images.githubusercontent.com/140123/148699229-082621e6-2476-4f2d-963a-a22cc5c51270.png)

[2022-01-09 20:26] fccoelho commented on #64
Thanks for reporting  this bug @heber-augusto.
We apply a chunked  solution to COVID [vaccination data](https://github.com/AlertaDengue/PySUS/blob/master/pysus/online_data/vaccine.py).

The solution shouldn't be hard to implement,

[2022-01-28 17:54] oliveiradouglas commented on #49
Estou tendo o mesmo problema em outro arquivo do DataSuS, nesses casos de arquivo corrompido vocês sabem com quem posso falar para resolução?

[2022-01-30 20:12] aspeddro opened #65 "`pysus.online_data.CNES` type hint return"
should the `download` function return a `DataFrame` type?

`_fetch_file` => `DataFrame` and `to_parquet` => `DataFrame`

https://github.com/AlertaDengue/PySUS/blob/600c61627b7998a1733b71ac163b3de71324cfbe/pysus/online_data/CNES.py#L28-L30

[2022-02-01 10:59] #62 closed

[2022-02-01 12:42] fccoelho commented on #64
Datasus now decided to split large files into `<filename>a.dbc`, `<filename>b.dbc`, etc. The download function needs to be adapted to look for this variant names.

[2022-02-01 12:43] fccoelho commented on #65
Sure. `object` is a placeholder for any object.

[2022-02-01 12:55] #65 closed

[2022-02-01 18:27] joaoguilhermeTB opened #67 "Servidor DataSUS"
O FTP do datasus está funcionando normalmente nos últimos dias?

[2022-02-01 23:46] heber-augusto commented on #64
Hello @fccoelho , I wrote a possible solution to read split files inside [issue 27](https://github.com/AlertaDengue/PySUS/issues/27) but I think the excessive memory consumption is an issue that exists despite this. I can help with the download function (issue 27).

I tried contact with Datasus team to check if they have a solution to avoid excessive memory consuption but did not have an answer ye

[2022-02-02 08:33] fccoelho commented on #64
Hi @heber-augusto , I have just opened a [PR](https://github.com/AlertaDengue/PySUS/pull/68) to fix this situation.

It also allows PySUS to automatically handle downloading of the a, b, c, ... parts of large files when necessary.

As soon as it passes the review and gets merged I'll make a new release of PySUS.  There is also new documentation showing how to handles these large SIA files.

[2022-02-02 08:52] fccoelho commented on #64
Hi @heber-augusto , My PR Solves  issue #27 as well!  Take a look at it.

[2022-02-02 11:58] #67 closed

[2022-02-02 23:30] heber-augusto commented on #64
Thanks a lot @fccoelho!

[2022-02-03 00:23] heber-augusto commented on #64
@fccoelho , I did a review and left some comments on [PR](https://github.com/AlertaDengue/PySUS/pull/68).

[2022-02-17 23:06] esloch opened #69 "Update README"
- Add *CONDA* usage in settings to development environment
- Add use of make commands to deploy jupyter in container

[2022-02-17 23:22] #56 closed

[2022-02-21 16:33] serenini opened #70 "Installation on Google Colab"
As far as I know, Google Colab does not support `Docker`.
Is there any alternative for Colab-users?

[2022-03-12 12:51] gabrielblins opened #71 "SINAN disease list is incomplete"
The SINAN disease list doesn't have Syphilis!
The SINAN system recorded Syphilis notifications since 2007, is there some reason the Syphilis notifications are not available?

[2022-03-12 18:24] fccoelho commented on #71
Hi @gabrielblins , I noticed that the Syphilis data is being shared in a different folder (PRELIM) in the DATASUS server, and it is split by state. We need modify the `sinan` download code to expose the diseases in this PRELIM folder, there are some other diseases there as well.

[2022-03-12 18:25] fccoelho commented on #70
Just
[code]

[2022-03-12 18:25] #70 closed

[2022-03-13 23:06] heber-augusto commented on #64
Hello @fccoelho , how are you?
I was testing the new version and discovered that the download for a single file (when the is not file split) is broken.

You can reproduce the error with the following code:

The exception message is "unpack requires a buffer of 32 bytes"

I am creating a new repo using PySus to help downloading files (forgive if I am not using the correct reference yet - I will do

[2022-03-14 07:04] fccoelho commented on #64
Thanks for reporting this bug, @heber-augusto. I'll take a look when I have some time.

[2022-03-14 14:14] gabrielblins commented on #71
Ok @fccoelho Thanks for the feedback! I will try to work on it this week! :)

[2022-03-16 01:02] caibealves commented on #71
@fccoelho Did this happened to the other diseases as well? I was trying to work with Violencia Domestica but no data is available.

[2022-03-16 07:42] fccoelho commented on #71
One other this I have just noticed is that the DATASUS changed the aggregation on all SINAN diseases  to be national files. So this, may be the reason that downloads are returning empty.
For your example @caibealves , it is now `VIOLBR20.dbc` for 2020 data. I'll try to do a quick bug fix of this

[2022-03-16 20:48] #71 closed

[2022-06-01 20:27] daidson opened #74 "ESUS: __init__() got an unexpected keyword argument 'send_get_body_as'"
Hello! I've been trying to acquire data from ESUS using PySUS but I always get this error:

`======================================================================================================== FAILURES ========================================================================================================
________________________________________________________________________________________

[2022-06-01 20:32] daidson commented on #74
I also tried to replicate the code as it is shown on the documentation using a jupyter notebook .IPYNB in jupyter lab and the error was the same:

![image](https://user-images.githubusercontent.com/26585017/171496326-94f66af5-7caf-4eea-a6f7-115b90047ec6.png)

[2022-06-02 03:48] daidson commented on #74
Relating this article for future development: https://github.com/elastic/elasticsearch-py/issues/1432

[2022-06-02 04:55] daidson commented on #74
Maybe fixing versions for elasticsearch could solve it as mentioned on the image taken from this doc: https://elasticsearch-py.readthedocs.io/en/7.10.0/

![image](https://user-images.githubusercontent.com/26585017/171555588-5500dda8-e6e9-4986-bba8-266cf75caeeb.png)

[2022-06-02 05:09] daidson commented on #74
When trying to install the correct packages for the function to work, I get the following error but the function now works fine.
![image](https://user-images.githubusercontent.com/26585017/171556961-b1a6b363-b124-4225-acdb-6e2d469d50ac.png)

The only problem now is that I'm having an auth error but I'll check into that and see if it really is an issue related stuff.

Hope you get to see this issue

[2022-06-02 08:52] fccoelho commented on #74
Thanks for reporting this bug Daidson, it really seems to be a matter of pinning the version of  elasticsearch-py to 7.16.2
We need to add some light-weight test that will check that the current version works with the ESUS server.

If you want to open a PR to solve this, please go ahead.

[2022-06-02 14:05] daidson commented on #74
Thank you for taking your time to assess it @fccoelho ! I might open a PR as I also found that there's a new URL string for ESUS connection. I'll be doing it in the next few days.

[2022-07-05 16:31] fccoelho opened #76 "Remove Demography package from PySUS"
The demography subpackage creates substantial installation problems due to its dependency on the GDAL Library.

This issue proposed to offload this subpackage into a separate library in to facilitate the installation and therefore the adoption of Pysus

[2022-07-05 16:42] fccoelho commented on #76
The `demography.stats` module can stay in PYSUS since it does not depend on GDAL.

[2022-07-12 13:50] fccoelho opened #78 "SINAN earliest year is hardcoded to 2007"
on line 85 of `SINAN.py`, the year 2007 is hardcoded as the earliest possible year, but this is not the case for all diseases, it must check the return from `list_availble_years`.

[2022-07-13 15:55] fccoelho opened #79 "Download of large files from SINAN"
Since the decision of DATASUS of making only  country-wide SINAN files available, on some years the file is to big to fit in the memory of an average personal computer.

We need to implement constant memory download of files so that file size is no longer an issue.

[2022-07-13 23:03] fccoelho commented on #35
@esloch can you fix the conda recipe?

[2022-07-19 15:41] esloch opened #83 "Use poetry"

[2022-07-19 17:53] #78 closed

[2022-07-19 17:53] #79 closed

[2022-07-19 17:55] fccoelho commented on #76
Done

[2022-07-19 17:55] #76 closed

[2022-07-19 18:40] fccoelho commented on #83
Pode aproveitar esta issue para ativar o release drafter:
https://github.com/release-drafter/release-drafter

[2022-07-21 13:29] fccoelho opened #85 "Check last update of FTP"
Implement a function to check for the last update of the data in the DATASUS FTP directory

[2022-07-27 09:44] #85 closed

[2022-08-18 00:37] esloch opened #87 "Data is not loading correctly from sinan"
Missing data for epidemiological weeks when using [get_chunked_dataframe](https://github.com/AlertaDengue/PySUS/blob/master/pysus/online_data/__init__.py#L74) function.

Reproduce:
[code]

[code]
The correct data is:
[code]

[2022-08-22 18:57] #87 closed

[2022-08-23 10:09] #83 closed

[2022-08-23 10:34] esloch opened #90 "Fix failed tests"
[code]

[2022-09-02 20:59] esloch opened #92 "Pandas does not concatenate the parquet files"
Unable to concatenate parquet files to dataframe.

https://github.com/AlertaDengue/PySUS/blob/master/pysus/tests/test_data/test_sinan.py#L43
[code]
Reproduce the error:
[code]

[2022-09-05 17:33] fccoelho commented on #92
This is possiblly due to the concat process filling up the memory before completing the concatenation.
the solution here is to load only one or two columns from the parquets in the test.

[2022-09-05 17:47] fccoelho commented on #92
I have just ran this block of code  and the total size of dengue 2020 was just 42M (is that right? apparently yes, because parquet files are compressed)
![image](https://user-images.githubusercontent.com/140123/188496533-346f7273-2054-472a-b534-6234c92f8180.png)
so it was possible to concatenate the whole set of parquet files in memory:

![image](https://user-images.githubusercontent.com/140123/18

[2022-09-06 08:00] esloch commented on #92
I couldn't identify the error, PANDAS reloaded the parquetfiles correctly.

[2022-09-06 12:29] #92 closed

[2022-09-08 11:03] MargaridaS opened #94 "SINAN, disease not detected"
Hello,

I see that 'Sífilis Em Gestante' isn't loading when I run SINAN.download:
[code]
I loaded 'Sífilis Congênita' and it works properly. How could I download  'Sífilis Em Gestante' ?

Thank you very much in advance.

Best regards,

Marga

[2022-09-08 15:40] #94 closed

[2022-10-04 17:43] otavioaugust1 opened #97 "This error originates from a subprocess - pip install pySUS"
Hello,

I'm having a problem installing pySUS that has the following erro:

[code]

[2022-10-07 18:50] fccoelho opened #98 "Add GitHub action to create wheels for all platforms"
We need wheels that eliminate the need for compilation of extension packages on all OSs

[2022-10-07 19:17] fccoelho commented on #97
@otavioaugust1 you need to Microsoft visual studio to compile one of the dependencies of PySUS. From your error message:
[code]

[2022-10-08 01:42] MarciaGodoy commented on #97
I installed the Microsoft visual, but the install failed.

[2022-10-08 04:27] MarciaGodoy commented on #97
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/AlertaDengue/PySUS.git
  Cloning https://github.com/AlertaDengue/PySUS.git to /tmp/pip-req-build-3skfsjz7
  Running command git clone -q https://github.com/AlertaDengue/PySUS.git /tmp/pip-req-build-3skfsjz7
  Installing build dependencies ... done
  Getting requireme

[2022-10-08 05:14] MarciaGodoy commented on #97
[end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pyreaddbc
Failed to build pyreaddbc
ERROR: Could not build wheels for pyreaddbc, which is required to install pyproject.toml-based projects

[2022-10-08 11:37] fccoelho commented on #97
For now PySUS is having building issues on windows.

We are looking into that. But for Now I suggest using WSL (installing
Ubuntu from the windows store) or running PySUS on Google colab.

Em sáb., 8 de out. de 2022 02:14, Marcia Godoy ***@***.***>
escreveu:

[2022-10-27 19:49] luabida opened #99 "UnicodeDecodeError while trying to download 'Dengue' data from SINAN"
### Bug report

I've encountered a bug while trying to download data for 'Dengue' in 2001 to 2008.

### How to reproduce
[code]

### LOG error
[code]

[2022-11-14 12:14] fccoelho opened #101 "Add support for downloading data from Infodengue and Infogripe"
PySUS should faciitate the acess to our own Projects datasets:

- [ ] Infodengue API
- [ ] [Infogripe data](https://gitlab.fiocruz.br/marcelo.gomes/infogripe/-/tree/master/Dados/InfoGripe)

[2022-11-21 19:38] luabida opened #103 "Logging pysus modules"
Add trace logs to the `pysus.online_data`.

##### Notes
- Use loguru to throw logs to `sys.stdout` or `sys.stderr` ([ref](https://loguru.readthedocs.io/en/stable/api/logger.html#Examples))
- Do not store log files
- No need to replace prints (only if the is a good reason to)

[2022-11-23 13:08] #103 closed

[2022-11-23 13:40] esloch commented on #99
@luabida, has this issue ended?

[2022-11-23 13:40] esloch commented on #90
Resolve #102

[2022-11-23 13:40] #90 closed

[2022-11-23 13:41] luabida commented on #99
Yes, closing this issue, thanks @esloch

[2022-11-23 13:41] #99 closed

[2022-11-24 23:16] HenriqueAurelio opened #105 "Possiveis valores das colunas e o que essa coluna representa?"
Bom estou tentando fazer um projeto com informacoes providenciadas pelo DATASUS mas nao achei oq significa alguns valores das colunas do dado que vem do SIM, ja procurei na https://pysus.readthedocs.io/en em todo site e nao encontrei o significado de alguns valores de certas colunas. Alguma ajuda para decifrar?
![tcc](https://user-images.githubusercontent.com/31359644/203873127-650768bc-7483-447d-

[2022-11-27 23:00] #105 closed